{% extends 'blog/base.html' %}
        {% block head %}
        <!-- Event snippet for Inscrição conversion page -->
        <script>
          gtag('event', 'conversion', {'send_to': 'AW-795974731/YJAWCKSp34sBEMu4xvsC'});
        </script>

        {% endblock %}
        {% block content %}
            
<!-- Page Header -->
                <div class="content bg-gray-lighter">
                    <h1 class="page-heading push">
                        Obrigada <small> por se inscrever!</small>
                    </h1>
                </div>
                <!-- END Page Header -->
            
        {% endblock %}
