{% extends 'blog/base.html' %}

        {% block content %}
            
 <!-- Page Header -->
                <div class="content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-7">
                            <h1 class="page-heading">
                                Video Game <small> os melhores jogos nos consoles que você quiser!</small>
                            </h1>
                        </div>
                    </div>
                </div>
                <!-- END Page Header -->


                <!-- Page Content -->
                <div class="content">
                    <!-- User Widgets -->
                                        <!-- Slider Widgets -->
                    <!-- Slick slider (.js-slider class is initialized in App() -> uiHelperSlick()) -->
                    <!-- For more info and examples you can check out http://kenwheeler.github.io/slick/ -->
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="block">
                                <div class="js-slider remove-margin-b" data-slider-autoplay="true">
                                    <div>
                                        <img class="img-responsive" src="static/img/various/fifa.jpg" alt="">
                                    </div>
                                </div>
                                <div class="block-content">
                                    <div class="row items-push text-center">
                                        
                                            <div class="push-5"><i class="fa fa-users"></i></div>
                                            <div class="h5 font-w300 text-muted">15 pessoas interessadas</div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="block">
                                <div class="js-slider remove-margin-b" data-slider-autoplay="true">
                                    <div>
                                        <img class="img-responsive" src="static/img/various/just.png" alt="">
                                    </div>
                                </div>
                                <div class="block-content">
                                    <div class="row items-push text-center">
                                        
                                            <div class="push-5"><i class="fa fa-users"></i></div>
                                            <div class="h5 font-w300 text-muted">18 pessoas interessadas</div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="block">
                                <div class="js-slider remove-margin-b" data-slider-autoplay="true">
                                    <div>
                                        <img class="img-responsive" src="static/img/various/cof.jpg" alt="">
                                    </div>
                                </div>
                                <div class="block-content">
                                    <div class="row items-push text-center">
                                        
                                            <div class="push-5"><i class="fa fa-users"></i></div>
                                            <div class="h5 font-w300 text-muted">10 pessoas interessadas</div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                            </div>
                    <!-- END Slider Widgets -->
                </div>
        {% endblock %}
